@font-face {
  font-family: "FbGesher";
  src: url("FbGesher-Regular.otf") format("opentype")
}

:root {
  font-size: 16px; //62.5%;

  body {
    background-color: #fcbb15;
  }
}

h1 {
  font-size: 2.3rem;
}

.top-title {
  color: #7a5e1d;
}

.hb {
  text-align: right;
  direction: rtl;
}

.big-text {
  font-size: 1.7rem;
}

.logo-title {
  width: 260px;
  margin: -19px 50px 48px;
}

.main-container {
  background-color: #fcbb15;
  font-family: "FbGesher";
  color: #231f20;
  margin: 0px 140px;
}

.menu-item {
  margin-top: 15px;
  font-size: 1rem;
}

.item-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.price {
  margin: 0 15px;
}

.footer {
  margin-top: 30px;
}

.additional-info {
  margin: 15px 0px;
}

@media (max-width: 600px) {
  .main-container {
    margin: 0px 5%;
  }
}
